html{
    width: 300px;
    height: 220px;
}
.title{
    width: 100%;
    font-size: 30px;
}

p{
    border-bottom: solid 1px;
}

#img{
    width: 70px;
    height: 70px;
}

.btn-line{
    text-align: end;
}